<a href="https://colab.research.google.com/github/sagarkumarmishra/Merecedes-Benz-Greener-Manufacturing/blob/main/Final_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step1: Import the required libraries

# linear algebra
import numpy as np
# data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd
# for dimensionality reduction
from sklearn.decomposition import PCA

In [3]:
# Step2: Read the data from train.csv

df_train = pd.read_csv('/content/train.csv')
# let us understand the data
print('Size of training set: {} rows and {} columns'
      .format(*df_train.shape))
# print few rows and see how the data looks like
df_train.head()

Size of training set: 4209 rows and 378 columns

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:

# Step3: Collect the Y values into an array

# seperate the y from the data as we will use this to learn as 
# the prediction output
y_train = df_train['y'].values

In [5]:
# Step4: Understand the data types we have

# iterate through all the columns which has X in the name of the column
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

In [6]:
# Step5: Count the data in each of the columns

counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [8]:
# Step6: Read the test.csv data

df_test = pd.read_csv('/content/test.csv')

# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [9]:
# Step7: Check for null and unique values for test and train sets

def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [10]:
# Step8: If for any column(s), the variance is equal to zero, 
# then you need to remove those variable(s).
# Apply label encoder

for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,X322,X181,X83,X373,X34,X325,X154,X374,X243,X58,...,X293,X371,X266,X19,X23,X171,X265,X367,X363,X151
0,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [11]:
# Step9: Make sure the data is now changed into numericals

print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [12]:
# Step10: Perform dimensionality reduction
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [13]:
# Step11: Training using xgboost

import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[16:55:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.1484	valid-rmse:98.263	train-r2:-58.353	valid-r2:-67.6375
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.2766	valid-rmse:80.3643	train-r2:-38.8843	valid-r2:-44.9101
[20]	train-rmse:66.7161	valid-rmse:65.7733	train-r2:-25.874	valid-r2:-29.7526
[30]	train-rmse:54.8691	valid-rmse:53.8914	train-r2:-17.1772	valid-r2:-19.6453
[40]	train-rmse:45.2471	valid-rmse:44.2232	train-r2:-11.361	valid-r2:-12.9022
[50]	train-rmse:37.4486	valid-rmse:36.3761	train-r2:-7.46723	valid-r2:-8.40622
[60]	train-rmse:31.1458	valid-rmse:30.0225	train-r2:-4.85695	valid-r2:-5.40732
[70]	train-rmse:26.0842	valid-rmse:24.915	train-r2:-3.10795	valid-r2:-3.41268
[80]	train-rmse:22.0431	valid-rmse:20.8305	train-r2:-1.93371	valid-r2:-2.08449
[90]	train-rmse:18.8467	valid-rmse:17.5959	train-r2:-1.14458	valid-r2:-1.20092
[100]	train-rmse:16.3335	valid-rmse:15.0794	train-r2:-0.610749	valid-r2:-0.616407
[110]	train-rmse:14.3954	valid-rmse:13.1488	train-r2:-0.251185	valid-r2:-0.229008
[120]	train-rmse:12.93	valid-rmse:11.6879	train-r2:-0.009419	valid-r2:0.028918
[130]	train-rmse:11.8178	valid-rmse:10.6176	train-r2:0.156776	valid-r2:0.198631
[140]	train-rmse:10.9884	valid-rmse:9.84751	train-r2:0.270976	valid-r2:0.310657
[150]	train-rmse:10.3753	valid-rmse:9.30925	train-r2:0.350061	valid-r2:0.383957
[160]	train-rmse:9.92806	valid-rmse:8.95155	train-r2:0.404886	valid-r2:0.430389
[170]	train-rmse:9.59294	valid-rmse:8.70725	train-r2:0.444384	valid-r2:0.461055
[180]	train-rmse:9.34682	valid-rmse:8.54917	train-r2:0.472529	valid-r2:0.480446
[190]	train-rmse:9.15928	valid-rmse:8.44648	train-r2:0.493482	valid-r2:0.492853
[200]	train-rmse:9.02039	valid-rmse:8.37742	train-r2:0.508727	valid-r2:0.501113
[210]	train-rmse:8.92144	valid-rmse:8.34411	train-r2:0.519447	valid-r2:0.505073
[220]	train-rmse:8.83893	valid-rmse:8.32315	train-r2:0.528295	valid-r2:0.507556
[230]	train-rmse:8.76794	valid-rmse:8.30707	train-r2:0.535841	valid-r2:0.509456
[240]	train-rmse:8.72074	valid-rmse:8.30206	train-r2:0.540825	valid-r2:0.510047
[250]	train-rmse:8.67982	valid-rmse:8.29542	train-r2:0.545124	valid-r2:0.510831
[260]	train-rmse:8.63931	valid-rmse:8.29556	train-r2:0.549361	valid-r2:0.510815
[270]	train-rmse:8.60199	valid-rmse:8.29404	train-r2:0.553245	valid-r2:0.510994
[280]	train-rmse:8.57282	valid-rmse:8.29323	train-r2:0.556271	valid-r2:0.51109
[290]	train-rmse:8.54349	valid-rmse:8.291	train-r2:0.559301	valid-r2:0.511352
[300]	train-rmse:8.51618	valid-rmse:8.29107	train-r2:0.562114	valid-r2:0.511344
[310]	train-rmse:8.49252	valid-rmse:8.29268	train-r2:0.564544	valid-r2:0.511154
[320]	train-rmse:8.47222	valid-rmse:8.28992	train-r2:0.566624	valid-r2:0.51148
[330]	train-rmse:8.44536	valid-rmse:8.2871	train-r2:0.569367	valid-r2:0.511811
[340]	train-rmse:8.41798	valid-rmse:8.28716	train-r2:0.572155	valid-r2:0.511805
[350]	train-rmse:8.38958	valid-rmse:8.28786	train-r2:0.575036	valid-r2:0.511723
[360]	train-rmse:8.36112	valid-rmse:8.28514	train-r2:0.577914	valid-r2:0.512043
[370]	train-rmse:8.33807	valid-rmse:8.28148	train-r2:0.580238	valid-r2:0.512474
[380]	train-rmse:8.31654	valid-rmse:8.27919	train-r2:0.582404	valid-r2:0.512744
[390]	train-rmse:8.29214	valid-rmse:8.27691	train-r2:0.58485	valid-r2:0.513011
[400]	train-rmse:8.26887	valid-rmse:8.27687	train-r2:0.587178	valid-r2:0.513016
[410]	train-rmse:8.24142	valid-rmse:8.27486	train-r2:0.589913	valid-r2:0.513253
[420]	train-rmse:8.22498	valid-rmse:8.27488	train-r2:0.591548	valid-r2:0.513251
[430]	train-rmse:8.19709	valid-rmse:8.2749	train-r2:0.594313	valid-r2:0.513248
[440]	train-rmse:8.1668	valid-rmse:8.27587	train-r2:0.597306	valid-r2:0.513134
[450]	train-rmse:8.14078	valid-rmse:8.27525	train-r2:0.599868	valid-r2:0.513207
[460]	train-rmse:8.12065	valid-rmse:8.273	train-r2:0.601844	valid-r2:0.513472
[470]	train-rmse:8.09534	valid-rmse:8.27303	train-r2:0.604323	valid-r2:0.513468
[480]	train-rmse:8.07533	valid-rmse:8.27047	train-r2:0.606276	valid-r2:0.513769
[490]	train-rmse:8.04808	valid-rmse:8.27024	train-r2:0.608928	valid-r2:0.513796
[500]	train-rmse:8.02485	valid-rmse:8.27066	train-r2:0.611183	valid-r2:0.513747
[510]	train-rmse:8.00522	valid-rmse:8.27177	train-r2:0.613083	valid-r2:0.513616
[520]	train-rmse:7.97819	valid-rmse:8.27209	train-r2:0.615691	valid-r2:0.513579
[530]	train-rmse:7.95543	valid-rmse:8.27091	train-r2:0.617881	valid-r2:0.513718
[540]	train-rmse:7.92944	valid-rmse:8.27119	train-r2:0.620374	valid-r2:0.513685
[550]	train-rmse:7.91013	valid-rmse:8.27123	train-r2:0.62222	valid-r2:0.51368
[560]	train-rmse:7.88584	valid-rmse:8.27058	train-r2:0.624537	valid-r2:0.513757
[570]	train-rmse:7.86827	valid-rmse:8.2714	train-r2:0.626208	valid-r2:0.51366
Stopping. Best iteration:
[526]	train-rmse:7.96577	valid-rmse:8.26912	train-r2:0.616887	valid-r2:0.513929

In [14]:
# Step12: Predict your test_df values using xgboost

p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

######################################################################
'''                          End                        '''
######################################################################

'                          End                        '